{% extends 'master/base.html' %}
{% load static %}

{% block importCSS %}
    <link href="{% static 'css/general/image-hovers.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/general/colorgraph.css' %}" rel="stylesheet" type="text/css"/>
{% endblock importCSS %}

{% block contenido %}

<div class="row">
    <div class="col-md-12">
        <h1 align="center">MIS MENUS</h1>
        <hr class="colorgraph">
    </div>
    {% if menus %}
        {% for men in menus %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 imagen-lista">
                <div class="hover-module">
                    <a href="{% url 'publicar-menu' %}/e/{{ men.id }}">
                        <img class="img-responsive" src="{{ men.plato_mostrar.imagen.url }}" style="width:440px; height: 200px;" alt="">
                        <hovernombrefood>{{ men.nombre|upper }}</hovernombrefood>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger" role="alert">NO TIENE MENUS REGISTRADOS</div>
    {% endif %}
</div>

{% endblock contenido %}
